/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global CSS Variables */
:root {
  /* Font Families */
  --font-heading: 'Fredoka', sans-serif;
  --font-body: 'Poppins', sans-serif;
  --font-mono: 'Menlo', monospace;



  /* Colors */
  --primary-green: #237C3F;
  --dark-heading: #333333;
  --light-background: #FAFAFA;
  --text-color: #666666;
  --text-light: #FAFAFA; /* new light text color */
}

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: var(--font-body);
  font-size: 18px; /* matches Figma */
  color: var(--text-color);
  background-color: var(--light-background);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin-bottom: 0.5em;
}

/* Inline elements */
p,  a, li, button {
  font-family: var(--font-body);

}

/* Utility classes */
.text-primary-green {
  color: var(--primary-green);
}
.hover\:text-primary-green:hover {
  color: var(--primary-green);
}

.bg-primary-green {
  background-color: var(--primary-green);
}

.text-dark-heading {
  color: var(--dark-heading);
}

.text-paragraph {
  color: var(--text-color);
}

.bg-light {
  background-color: var(--light-background);
}

/* Light text for dark backgrounds */
.text-light {
  color: var(--text-light);
}
.hover\:text-light:hover {
  color: var(--text-light);
}

.font-menlo {
  font-family: var(--font-mono);
}

/* Buttons */
button {
  transition: all 0.2s ease-in-out;
  font-family: var(--font-body);
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
